{
  "extends": [
    "./eslint-config.js"
  ],
  "plugins": ["react", "prettier", "react-hooks"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "no-console": ["warn", { "allow": ["warn", "error", "log"] }],
    "linebreak-style": "off",
    "indent": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "react/prop-types": 0,
    "react/no-find-dom-node": 0,
    "no-shadow": 0,
    "no-restricted-syntax": 0
  },
  "env": {
    "browser": true
  }
}