h1{
    font-size: 6.7em;
    margin: 50px 0 0;
    line-height: 0;
    animation-name: introTitle;
    animation-duration: .35s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes introTitle {
    from { transform: translateY(50px) ; opacity: 0;}
    to { transform: translateY(0px) ; opacity: 1;}
}