.userDataContainer{
    margin: 40px auto 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userDataContainer h1{
    font-size: 2em;
    margin: 10px 0 7px;
    line-height: 1;
    font-weight: 500;
}

.userDataContainer h2{
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 15px 0;
}

.userDataContainer p{
    margin: 0 0 2px;
    line-height: 0;
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.userDataContainer button{
    width: 100%;
    margin-top: 15px;
}

.txtContainer{
    width: 220px;
    margin-top: 18px;
}

.subUserInfo{
    margin-top: 20px;
}

.userDataIcon{
    margin-right: 7px;
}

.userAvatar{
    width: 220px !important;
    height: 220px !important;
    border-radius: 20px;
}

